body {
    background-color: #9FD98f;
    color: #7D189C;
}
#shaq {
    color: black;
    position:absolute;
    border: 10px solid black;
    z-index: 1;
    background-color: gold;

}
#jokic {
    color: red;
    border: 10px solid black;
    position:absolute;
    z-index: 2;
}
.plaque {
    background-color: gold;
    box-sizing: border-box;
    width: 150px;
    height: 100px;
    padding: 10px;
    border: 10px solid black;
}

code {
    background-color: rgb(69, 69, 69);
    color: orangered;
    font-size: larger;
}
textarea {
    font-size:large;

}